<div class="grid">
  <div class="col-12">
    <h1 style="text-align: center">Kontrollgefühl</h1>
  </div>
  <div class="col-12">
    <h4>
      Kontrollgefühl in Human Automation Interaction:
    </h4>
    <p>
      Beschreibt das Ausmaß, in dem ein Benutzer das Gefühl hat, die Aktionen und Entscheidungen eines
      Automationssystems beeinflussen und steuern zu können. Ein starkes Kontrollgefühl reduziert Unsicherheit und
      Stress und fördert die Akzeptanz des Systems.
    </p>
    <h4>
      Für wen ist Kontrollgefühl relevant?
    </h4>
    <p>
      Kontrollgefühl ist für alle Benutzer von Automationssystemen relevant, besonders aber für:
    </p>
    <p class="indented-paragraph">
      <b>Unerfahrene Benutzer:</b> Die sich mit der Funktionsweise des Systems nicht auskennen und leicht die Kontrolle
      verlieren können.
    </p>
    <p class="indented-paragraph">
      <b>Benutzer in sicherheitskritischen Umgebungen:</b> Die im Notfall schnell und zuverlässig die Kontrolle über das
      System übernehmen müssen.
    </p>
    <p class="indented-paragraph">
      <b>Benutzer, die Angst vor Kontrollverlust haben:</b> Wie zum Beispiel Personen mit hohem Neurotizismus, die dazu
      neigen, Situationen als bedrohlicher wahrzunehmen.
    </p>
    <p-divider/>
  </div>
  <div class="col-6">
    <h3 style="text-align: center">Do's</h3>
    <p-tabView [scrollable]="true">
      <p-tabPanel header="Manuelle Übersteuerung">
        <p>
          Geben Sie dem Benutzer jederzeit die Möglichkeit, die automatisierten Funktionen zu deaktivieren oder zu
          übersteuern.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Stufenweise Automatisierung">
        <p>
          Ermöglichen Sie dem Benutzer, den Grad der Automatisierung schrittweise zu erhöhen, anstatt die Kontrolle
          komplett abzugeben.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Vorhersehbares Verhalten">
        <p>
          Gestalten Sie das System so, dass es sich konsistent und nachvollziehbar verhält. Vermeiden Sie plötzliche und
          unerwartete Aktionen.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Klare Feedbackmechanismen">
        <p>
          Geben Sie dem Benutzer kontinuierlich Feedback über den Systemzustand, die Folgen seiner Aktionen und die
          Gründe für Systementscheidungen.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Personalisierbare Einstellungen">
        <p>
          Ermöglichen Sie dem Benutzer, das System an seine individuellen Bedürfnisse und Vorlieben anzupassen.
        </p>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="col-6">
    <h3 style="text-align: center">Don'ts</h3>
    <p-tabView [scrollable]="true">
      <p-tabPanel header="Zwanghafte Automatisierung">
        <p>
          Zwingen Sie dem Benutzer die Automatisierung nicht auf.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Intransparenz">
        <p>
          Verbergen Sie nicht die Funktionsweise des Systems und die Gründe für seine Entscheidungen vor dem Benutzer.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Eingeschränkte Eingriffsmöglichkeiten">
        <p>
          Beschränken Sie nicht die Möglichkeiten des Benutzers, in das System einzugreifen.
        </p>
      </p-tabPanel>
      <p-tabPanel header="Unvorhersehbares Verhalten">
        <p>
          Vermeiden Sie plötzliche und unerwartete Änderungen im Systemverhalten, die den Benutzer verunsichern könnten.
        </p>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="col-12">
    <p-fieldset legend="Beispiel" [toggleable]="true" collapsed="true">
      <p>
        <b>Do:</b> Ein Fahrassistenzsystem erlaubt dem Fahrer jederzeit, die Kontrolle über das Fahrzeug zu übernehmen.
      </p>
      <p>
        <b>Dont:</b> Ein Roboterarm bewegt sich in den persönlichen Bereich eines Menschen, ohne dass dieser die
        Bewegung stoppen oder beeinflussen kann.
      </p>
    </p-fieldset>
  </div>
  <div class="col-12">
    <p-divider/>
    <h3 style="text-align: center">Entwicklungsprinzipien</h3>
  </div>
  <div class="col-6">
    <h4 style="text-align: center">Kontrollstufen (Sheridan & Verplank, 1978)</h4>
    <p-stepper>
      <p-stepperPanel header="Beschreibung">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-column">
            <div class="justify-content-center align-items-center font-medium">
              <p>
                Definieren Sie die Kontrollstufen des Systems und stellen Sie sicher, dass der Benutzer jederzeit eine
                angemessene Kontrollstufe wählen kann.
              </p>
              <p class="indented-paragraph">
                <b>Ebene 1:</b> Der Mensch führt die Aufgabe aus.
              </p>
              <p class="indented-paragraph">
                <b>Ebene 2:</b> Der Mensch wählt eine Aktion aus, die das System ausführt.
              </p>
              <p class="indented-paragraph">
                <b>Ebene 3:</b> Das System schlägt Aktionen vor, der Mensch wählt aus.
              </p>
              <p class="indented-paragraph">
                <b>Ebene 4:</b> Das System führt Aktionen aus, der Mensch kann diese stoppen.
              </p>
              <p class="indented-paragraph">
                <b>Ebene 5:</b> Das System führt die Aufgabe autonom aus.
              </p>
            </div>
          </div>
          <div class="flex pt-4 justify-content-end">
            <p-button
              label="Beispiel"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="nextCallback.emit()"/>
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel header="Beispiel">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
          <div class="flex flex-column">
            <div
              class="justify-content-center align-items-center font-medium">
              Ein Roboterarm in einer Fabrik kann auf Ebene 4 autonom arbeiten, der Bediener kann die Bewegung aber
              jederzeit stoppen, wenn er ein Problem erkennt.
            </div>
          </div>
          <div class="flex pt-4 justify-content-start">
            <p-button label="Beschreibung" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()"/>
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
  <div class="col-6">
    <h4 style="text-align: center">Gestaltung der Interaktion</h4>
    <p-stepper>
      <p-stepperPanel header="Beschreibung">
        <ng-template pTemplate="content" let-nextCallback="nextCallback" let-index="index">
          <div class="flex flex-column">
            <div class="justify-content-center align-items-center font-medium">
              <p>
                Gestalten Sie die Interaktion mit dem System so, dass der Benutzer sich aktiv beteiligt fühlt und seine
                Eingaben ernst genommen werden.
              </p>
              <p>
                <b>Aufgaben:</b>
              </p>
              <p class="indented-paragraph">
                Ermöglichen Sie dem Benutzer, Entscheidungen zu beeinflussen (z. B. durch Auswahlmöglichkeiten,
                Parametereinstellungen).
              </p>
              <p class="indented-paragraph">
                Reagieren Sie auf Benutzereingaben prompt und geben Sie Feedback.
              </p>
              <p class="indented-paragraph">
                Vermeiden Sie es, den Benutzer zu bevormunden oder ihm Entscheidungen aufzuzwingen.
              </p>
            </div>
          </div>
          <div class="flex pt-4 justify-content-end">
            <p-button
              label="Beispiel"
              icon="pi pi-arrow-right"
              iconPos="right"
              (onClick)="nextCallback.emit()"/>
          </div>
        </ng-template>
      </p-stepperPanel>
      <p-stepperPanel header="Beispiel">
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-index="index">
          <div class="flex flex-column">
            <div class="justify-content-center align-items-center font-medium">
              <p>
                Ein intelligenter Staubsaugerroboter erlaubt es dem Benutzer, Bereiche zu definieren, die nicht
                gereinigt werden sollen.
              </p>
            </div>
          </div>
          <div class="flex pt-4 justify-content-start">
            <p-button label="Beschreibung" icon="pi pi-arrow-left" (onClick)="prevCallback.emit()"/>
          </div>
        </ng-template>
      </p-stepperPanel>
    </p-stepper>
  </div>
  <div class="col-12">
    <p-divider/>
    <h3 style="text-align: center">Potentielle Probleme</h3>
    <p-accordion>
      <p-accordionTab header="Überforderung des Nutzers">
        <p>
          Zu viele Kontrollmöglichkeiten können den Benutzer überfordern und die Nutzung des Systems erschweren.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Komplexität der Implementierung">
        <p>
          Die Implementierung von flexiblen Kontrollmechanismen kann komplex und aufwendig sein.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Sicherheitsrisiken">
        <p>
          In sicherheitskritischen Anwendungen muss sichergestellt sein, dass der Benutzer die Kontrolle nicht in
          Situationen abgibt, in denen dies gefährlich wäre.
        </p>
      </p-accordionTab>
      <p-accordionTab header="Falsche Einschätzung der eigenen Fähigkeiten">
        <p>
          Benutzer könnten ihre eigenen Fähigkeiten überschätzen und in Situationen eingreifen, in denen das System
          besser entscheiden kann.
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="col-12">
    <p-divider/>
    <p-fieldset legend="Ressourcenempfehlungen/Literatur" [toggleable]="true" collapsed="true">
      <p>
        Takayama, L., & Pantofaru, C. (2009). Influences on proxemic behaviors in human-robot interaction. In 2009
        IEEE/RSJ International Conference on Intelligent Robots and Systems (pp. 5495-5502). IEEE.
      </p>
    </p-fieldset>
  </div>
</div>
