<div class="grid">
  <div class="col-12">
    <h1 style="text-align: center">Teilgebiete</h1>
  </div>
  <div class="col-12">
    <p style="text-align: center">Hier finden Sie eine Übersicht der Guidelines zu den einzelnen Teilgebieten.</p>
  </div>
  <div class="grid">
    <div *ngFor="let teilgebiet of teilgebiete" class="col-6">
      <p-card [header]="teilgebiet.name">
        <div class="grid" style="padding-bottom: 5px">
          <div class="col-fixed" style="width: 150px">
            <p-image src="{{teilgebiet.bild}}" alt="Bild {{teilgebiet.name}}" width="100"></p-image>
          </div>
          <div class="col">
            <div>{{teilgebiet.beschreibung}}</div>
          </div>
        </div>
        <ng-template pTemplate="footer">
          <div>
            <p-button (click)="navigate(teilgebiet.name)">Teilgebiet {{teilgebiet.name}} anzeigen</p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
