<div class="grid">
  <div class="col-12">
    <h1 style="text-align: center">Teilgebiete</h1>
  </div>
  <div class="col-12">
    <p style="text-align: center">Willkommen im Dashboard. Hier können Sie auf die Funktionalitäten dieser Anwendung zugreifen.</p>
  </div>
  <div class="grid">
    <div *ngFor="let teilgebiet of teilgebiete" class="col-6">
      <p-card [header]="teilgebiet.name">
        <p style="padding-bottom: 5px">{{teilgebiet.beschreibung}}</p>
        <ng-template pTemplate="footer">
          <div>
            <p-button (click)="navigate(teilgebiet.name)">Teilgebiet {{teilgebiet.name}} anzeigen</p-button>
          </div>
        </ng-template>
      </p-card>
    </div>
  </div>
</div>
