<div class="grid">
  <div class="col-12">
    <h1 style="text-align: center">Vertrauen in automatisierte Softwaresysteme</h1>
  </div>
  <div class="col-12">
    <div style="margin-left: 20px; margin-right: 20px">
      <p-panel showHeader="false">
        <span>
          In einer zunehmend digitalisierten Welt gewinnen automatisierte Softwaresysteme in vielen Lebens- und Arbeitsbereichen an Bedeutung. Ob in der Industrie, im Gesundheitswesen oder im täglichen Leben – automatisierte Softwaresysteme unterstützen Entscheidungen, optimieren Prozesse und erhöhen die Effizienz. Damit diese Softwaresysteme jedoch erfolgreich eingesetzt werden können, ist das Vertrauen der Benutzer in ihre Zuverlässigkeit, Sicherheit und Fairness von entscheidender Bedeutung.
        </span>
        <br>
        <span>
          Diese Guideline bietet eine umfassende Übersicht über die wesentlichen Faktoren, die das Vertrauen in automatisierte Softwaresysteme beeinflussen. Vertrauen entsteht durch eine Vielzahl von Aspekten, darunter Transparenz, Vorhersehbarkeit, Sicherheit, Kontrollgefühl, und Benutzerfreundlichkeit. Jedes dieser Teilgebiete spielt eine entscheidende Rolle bei der Akzeptanz und dem erfolgreichen Einsatz solcher Softwaresysteme.
        </span>
        <br>
        <span>
          Im Folgenden wird auf die einzelnen Einflussfaktoren eingegangen, die dazu beitragen, Vertrauen aufzubauen und aufrechtzuerhalten. Zudem werden praxisnahe Empfehlungen und Best Practices vorgestellt, um sicherzustellen, dass automatisierte Softwaresysteme den hohen Erwartungen und Anforderungen der Benutzer gerecht werden.
        </span>
        <br>
        <span>
          Diese Guideline soll Entwicklern, Projektmanagern und anderen Stakeholdern als wertvolle Ressource dienen, um bei der Gestaltung und Implementierung automatisierter Softwaresysteme den Aspekt des Vertrauens konsequent zu berücksichtigen.
        </span>
      </p-panel>
      <div style="margin: 20px"></div>
      <p style="text-align: center">Hier können Sie auf die Funktionalitäten dieser Anwendung zugreifen. Wählen Sie eine der folgenden Optionen aus:</p>
    </div>
  </div>
  <div class="col-6">
    <p-card header="Fragebogen">
      <p style="padding-bottom: 5px; text-align: center">Sie sind sich nicht sicher, welcher Aspekt eines
        automatisierten Softwaresystems bei Ihnen zu Unsicherheiten führt? Unser Fragebogen hilft Ihnen, Ihre Präferenzen zu
        identifizieren und die Teilgebiete aufzuzeigen, die für Sie am wichtigsten sind.</p>
      <ng-template pTemplate="footer">
        <div>
          <p-button (click)="fragebogen()">Test starten</p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="col-6">
    <p-card header="Teilgebiete">
      <p style="padding-bottom: 5px; text-align: center">Hier finden Sie eine Übersicht über die Teilgebiete, die das
        Vertrauen in automatisierte Softwaresysteme beeinflussen. Erfahren Sie mehr über die Bedeutung von Transparenz,
        Kontrollgefühl, Sicherheit, Vorhersehbarkeit, Verfügbarkeit, Erfahrung und Bekanntheit des Softwaresystems,
        Zeit/Effizienz sowie Support und Updates.</p>
      <ng-template pTemplate="footer">
        <div>
          <p-button (click)="teilgebiete()">Teilgebiete anzeigen</p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
  <div class="col-12">
    <p-card header="FAQ">
      <p style="padding-bottom: 5px; text-align: center">Sollten Sie offene Fragen haben, werden diese hier
        beantwortet.</p>
      <ng-template pTemplate="footer">
        <div>
          <p-button (click)="faq()">FAQ öffnen</p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</div>
