/* You can add global styles to this file, and also import other style files */
.p-card .p-card-content {
  padding: 1.25rem 0;
  display: flex
}

.indented-paragraph {
  text-indent: 2em; /* Hier kannst du die Einrückungstiefe anpassen */
}
