<div class="grid">
  <div class="col-12">
    <h1 style="text-align: center">Erfahrung und Bekanntheit</h1>
  </div>
  <div class="col-12">
    <p style="text-align: center">Einführung</p>
  </div>
  <div class="col-6">
    <p-tabView>
      <p-tabPanel header="Header I">
        <p>
          Lorem ipsum dolor sit amet...
        </p>
      </p-tabPanel>
      <p-tabPanel header="Header II">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
      </p-tabPanel>
      <p-tabPanel header="Header III">
        <p>
          At vero eos et accusamus et iusto odio dignissimos...
        </p>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="col-6">
    <p-tabView>
      <p-tabPanel header="Header I">
        <p>
          Lorem ipsum dolor sit amet...
        </p>
      </p-tabPanel>
      <p-tabPanel header="Header II">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
      </p-tabPanel>
      <p-tabPanel header="Header III">
        <p>
          At vero eos et accusamus et iusto odio dignissimos...
        </p>
      </p-tabPanel>
    </p-tabView>
  </div>
  <div class="col-6">
    <p-panel>
      <p-header>
        <div style="display: flex">
          <h4 style="padding-right: 5px">Entwicklungsprinzip</h4>
          <p-button>Beispiel</p-button>
        </div>
      </p-header>
      <p>
        Lorem ipsum dolor sit amet...
      </p>
    </p-panel>
  </div>
  <div class="col-6">
    <p-panel>
      <p-header>
        <div style="display: flex">
          <h4 style="padding-right: 5px">Entwicklungsprinzip</h4>
          <p-button>Beispiel</p-button>
        </div>
      </p-header>
      <p>
        Lorem ipsum dolor sit amet...
      </p>
    </p-panel>
  </div>
  <div class="col-6">
    <p-panel>
      <p-header>
        <div style="display: flex">
          <h4 style="padding-right: 5px">Entwicklungsprinzip</h4>
          <p-button>Beispiel</p-button>
        </div>
      </p-header>
      <p>
        Lorem ipsum dolor sit amet...
      </p>
    </p-panel>
  </div>
  <div class="col-6">
    <p-panel>
      <p-header>
        <div style="display: flex">
          <h4 style="padding-right: 5px">Entwicklungsprinzip</h4>
          <p-button>Beispiel</p-button>
        </div>
      </p-header>
      <p>
        Lorem ipsum dolor sit amet...
      </p>
    </p-panel>
  </div>
  <div class="col-6">
    <p-panel>
      <p-header>
        <div style="display: flex">
          <h4 style="padding-right: 5px">Entwicklungsprinzip</h4>
          <p-button>Beispiel</p-button>
        </div>
      </p-header>
      <p>
        Lorem ipsum dolor sit amet...
      </p>
    </p-panel>
  </div>
  <div class="col-12">
    <p-accordion>
      <p-accordionTab header="Header I">
        <p>
          Lorem ipsum dolor sit amet...
        </p>
      </p-accordionTab>
      <p-accordionTab header="Header II">
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
        </p>
      </p-accordionTab>
      <p-accordionTab header="Header III">
        <p>
          At vero eos et accusamus et iusto odio dignissimos...
        </p>
      </p-accordionTab>
    </p-accordion>
  </div>
  <div class="col-12">
    <p-fieldset legend="Ressourcenempfehlungen" [toggleable]="true" collapsed="true">
      <p>
        Lorem ipsum dolor sit amet...
      </p>
    </p-fieldset>
  </div>
</div>
